* {
  margin: 0;
}

.head {
  background-color: rgb(0, 0, 0);
  height: 100px;
}

.home {
  padding: 35px;
  padding-left: 65px;
}

.btn {
  background: none;
  border: none;
  color: gray;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.first {
  height: 800px;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(image/wallpaperflare-com_wall-per-8.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* padding: 100px; */
}

h1 {
  /* background-color: aqua; */
  /* text-align: center; */
  /* height: 800px; */
  padding: 100px;
  text-decoration: underline;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  color: rgba(0, 255, 238, 0.626);
}
